{% extends "layout.html" %}
{% block content %}
<div id="page_mainbody">
        <div id="home_paragraph1">
                <h3 id="page_header">Welcome!</h3>
                <div id="home_image">
                        <img src="{{ url_for('static', filename='construction.jpg') }}">                        
                </div>
                <div id="page_mainbody_home">
                        <p>Do you have an idea for a movie?</p>
                        <p>Do you worry about how will percieve it?</p>
                        <p>Using this tool, you can enter your movie's information and get an estimated IMDb user rating.</p>
                        <p>Simply click "Predict" in the above navbar to start.</p>
                </div>
        </div>
</div>
{% endblock %}