{% extends "layout.html" %}
{% block content %}
<div id="page_mainbody">
        <div id="home_paragraph1">
                <h3 id="page_header">Enter Your Movie Details</h3>
                <div id="page_mainbody_home">
                        <form id="submission_form">
                                <p>What is your movie's genres?</p>
                                <select id="submission_select_genre" name="submission_select_genre">
                                        eeee
                                </select>
                        </form>
                </div>
        </div>
</div>
{% endblock %}